<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://tabinojohoya.github.io/PDF-Utils/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>i0B8jkHURnhtKOZ1qjb0C/0nQiUl6U2SpZHWOCp5j9Y=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
